.caja{
background-color:steelblue;
  color:white;
  font-size:30px;
  font-family:arial;
  width:200px;
  height: 200px;
  /*
  agrega un relleno
  aumenta en la 4 dimenciones el tamaño en 30
  padding:30px;
  */
  padding-top:30px;
  padding-right:30px;
  padding-left:30px;
  padding-bottom:30px;

  padding:80px 50px 10px 20px;
}